.our-recommendation-category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;

}
hr{
    margin: 30px 100px;
}
.inputSearch{
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
    background-image: url('https://img.icons8.com/ios/2x/search--v1.png');
    background-size: contain;
    padding: 5px 11px;
    font-size: 13px;
    border-radius: 7px;
    border: 1px solid #d3d2d2;
    background-origin: content-box;
}
.meals{
    display: flex;
    flex-direction: row;
    align-self: start;
    flex-wrap: wrap;
    padding: 50px 100px 100px 100px;
}
.meals > *{
    padding: 20px;
}
.right input{
    margin: 40px 0 0 0;
}
@media (max-width: 650px){
    .right{
        padding: 0 0 20px 0;
    }
    .hr-category{
        margin: 30px 50px;
    }
    .meals{
        padding: 50px 0 50px 30px;
    }
    .our-recommendation-category{
        padding: 20px 50px;
        flex-direction: column;
    }
}
@media (max-width: 500px){
}