.header-div{
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    justify-content: space-between;
}
.header-left{
    padding: 100px 100px 0 100px;
    flex: 1;
}
.header-left p{
}
.header-left button{
    background-color: #f9982d;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    user-select: cursor;
}
.header-right{
    flex: 1;
}
.header-right img{
    width: 500px;
    height: 400px
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 60px;
}
.categories > *{
    flex: 30%;
    max-width: 30%;
    padding: 20px 0;
}
.categories h3{
    margin: 0;
    color: black;
}
.about-us{
    padding: 20px 80px;
}
.about-row{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}
.about-info{
    width: 50%;
}
.about-info p{
    padding-top: 0;
    width: 65%;
    text-align: left;
}
.about-image{
    width: 50%;
}
.about-image img{
    width: 100%;
}
.contact-form{
    text-align: center;
    padding: 60px 0;
}
.contact-form input, textarea{
    display: block;
    margin: auto;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #d3d2d2;
    border-radius: 7px;
    outline: none;
}
.contact-form button{
    background-color: #f9982d;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    user-select: cursor;
}

@media (max-width: 900px){
    .header-left{
        padding: 30px 30px 0 0;
    }
    .header-right img {
        width: 400px;
        height: auto;
    }

}
@media (max-width: 750px){
    .header-div{
        flex-direction: column-reverse;
    }
    .about-row{
        flex-direction: column-reverse;
    }
    .about-info{
        width: 100%;
    }
    .about-info p{
        width: 100%;
        padding-top: 40px;
    }
    .about-image{
        width: 65%;
    }
}
@media (max-width: 600px){
    .header{
        flex-direction: column-reverse;
        padding: 40px 20px;
    }
    .nav ul{
        padding: 0;
    }
    .categories{
        padding: 30px 0;
    }
    .about-us{
        padding: 20px 30px;
    }
    .header-div{
        padding: 30px 20px;
    }
}
@media (max-width: 430px){
    .categories > *{
        flex: 45%;
        max-width: unset;
    }
    .header-right img{
        width: 100%;
    }
    .header-left p{
        padding: 0;
    }
    .about-image{
        width: 85%;
    }
    .contact-form input, textarea{
        width: 80%;
    }
}