.header-div{
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    justify-content: space-between;
}
.header-left{
    padding: 100px 100px 0 100px;
    flex: 1;
}
.header-left p{
    width: 60%;
}
.header-left button{
    background-color: #f9982d;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    user-select: cursor;
}
.header-right{
    flex: 1;
}
.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 60px;
}
.categories > *{
    flex: 30%;
    max-width: 30%;
    padding: 20px 0;
}
.categories h3{
    margin: 0;
    color: black;
}
.about-us{
    padding: 20px 80px;
}
.about-row{
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}
.about-info{
    width: 50%;
}
.about-info p{
    padding-top: 0;
    width: 65%;
    text-align: left;
}
.about-image{
    width: 50%;
}
.about-image img{
    width: 100%;
}
.contact-form{
    text-align: center;
    padding: 60px 0;
}
.contact-form input, textarea{
    display: block;
    margin: auto;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #d3d2d2;
    border-radius: 7px;
    outline: none;
}
.contact-form button{
    background-color: #f9982d;
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    user-select: cursor;
}