.single-meal-top{
    display: flex;
    flex-direction: row;
}
.single-meal-info{
    padding: 100px 100px 100px 20px;
}
.single-meal-info > *{
    text-align: left;
    padding: 0;
}
.single-meal-image{
    padding: 30px;
}
.single-meal-image img{
    width: 400px;
}
table{
    padding: 0 30px;
    font-size: 16px;
}
table th{
    text-align: left;    
}
th:last-child{
    padding-left: 15px;
}
td:last-child{
    padding-left: 15px;
}
.similar-meals{
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
}
.similar-meal{
    text-align: center;
    padding: 30px 30px 0 0;
}
.similar-meal p{
    font-size: 18px;
    padding: 0;
    width: 250px;
}
.similar-meal img{
    width: 250px;
}