.single-meal-top{
    display: flex;
    flex-direction: row;
}
.single-meal-info{
    padding: 100px 100px 100px 20px;
}
.single-meal-info > *{
    text-align: left;
    padding: 0;
}
.single-meal-image{
    padding: 30px;
}
.single-meal-image img{
    width: 400px;
}
table{
    padding: 0 30px;
    font-size: 16px;
}
table th{
    text-align: left;    
}
th:last-child{
    padding-left: 15px;
}
td:last-child{
    padding-left: 15px;
}
.similar-meals{
    display: flex;
    flex-direction: column;
    padding: 100px 30px;
}
.similar-meal{
    text-align: center;
    padding: 30px 30px 0 0;
}
.similar-meal p{
    font-size: 18px;
    padding: 0;
    width: 250px;
}
.similar-meal img{
    width: 250px;
}
@media (max-width: 900px){
    .single-meal-image img{
        width: 300px;
    }
    .similar-meal{
        width: 180px;
        margin: 0 20px 0 0;
    }
    .similar-meal img{
        width: 180px;
    }
    .similar-meal p{
        width: 180px;
    }
}
@media (max-width: 650px){
    .single-meal-top{
        flex-direction: column;
    }
    .single-meal-info {
        padding: 0px 50px 50px 30px;
    }
    .single-meal-image img{
        width: 230px;
    }
    .similar-meal{
        width: 120px;
    }
    .similar-meal img{
        width: 120px;
    }
    .similar-meal p{
        width: 120px;
        font-size: 13px;
    }
}
@media (max-width: 450px){  
}