.random-meals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 100px 100px 100px;
    margin: auto
}
.random-meals > *{
    flex: 25%;
    padding: 20px 0;
}