.header{
    display: flex;
    flex-direction: row;
    padding: 40px 60px;
    justify-content: space-between;
}
.menu{
    display: flex;
}
ul {
    list-style-type: none;
    margin-top: 0;
}
li{   
    display: inline-block; 
    font-size: 18px;
    font-weight: bold;
}
li .link{
    text-decoration: none;
    color: black;
    padding: 0 15px;
}
.inputSearch{
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
    background-image: url('https://img.icons8.com/ios/2x/search--v1.png');
    background-size: contain;
    padding: 5px 11px;
    font-size: 13px;
    border-radius: 7px;
    border: 1px solid gray;
}
.avatar i{
    font-size: 27px;
}